.wrapper {
	position: relative;
	overflow: hidden;
	    /*background: rgba(0, 255, 255, 0.12);*/
    /*filter: alpha(opacity=40); */
    /* http://pleeease.io/ for POST processing css vendor prefix  */
}



.wrapper img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100;
	height: auto;
	opacity: 0.3;
}

.radio-inline-1 {
	opacity: 0.90;
    /*filter: alpha(opacity=90); */
}

footer {
	border-top: solid;
	border-top-width: 10px;
	border-color: red;
	padding-top: 20px;
	background-color: #666;
	color: white;
	text-align: center;
	height: 60px;
	}